[fetch]
    prune = false
[pull]
    rebase = false
[rebase]
    autoStash = false
    autosquash = false
    updateRefs = false
[core]
    eol = lf
    autocrlf = false
[i18n]
    filesEncoding = utf-8
[alias]
    shuffle = !git rebase -i origin/master
    full = !git fetch --all && git pull
    branch = !git checkout -B
    kommit = !git add -p && git commit
    logo = !git log --pretty=oneline
    pfush = !git push --force-with-lease
    subsfix = !git submodule update --init --recursive --rebase && git status
    schmutz = !git reset --hard && git clean -dfx
    fullschmutz = !git reset --hard && git clean -dfx && git fetch --all && git pull
    back = !git restore *.* && git fetch --all && git pull
    linecount = !git ls-files | xargs wc -l
