[fetch]
    prune = false
[pull]
    rebase = false
    ff = only
[push]
    autoSetupRemote = true
[rebase]
    autoStash = false
    autosquash = false
    updateRefs = false
[core]
    eol = lf
    autocrlf = false
    editor = nano
[i18n]
    filesEncoding = utf-8
[alias]
    shuffle = !git rebase -i --autosquash --autostash 
    full = !git fetch --all && git pull
    kommit = !git add -p && git commit
    logo = !git log --pretty=oneline
    pfush = !git push --force-with-lease
    subsfix = !git submodule update --init --recursive --rebase && git ss
    schmutz = !git reset --hard && git clean -dfx
    fullschmutz = git schmutz && git full
    back = !git restore *.* && git full
    linecount = !git ls-files | xargs wc -l
    checklf = !git ls-files --stage --eol
    make-exec = !git update-index --add --chmod=+x --really-refresh
    ff = !git fetch --all
    rr = !git reset --hard
    ll = !git logo
    ss = !git status
    hash = !git logo -n 1
    cherrykick = !git cherry-pick -X theirs
    fuck = !git ff && git commit -m fixup && git rebase -i origin/master

[diff]
        guitool = vscode
        tool = nano
[merge]
        guitool = vscode
        tool = nano

